.graph {
  position: absolute;
  height: 140px;
  width: 100%;
}
#nightTime {
  top: 55%;
}
.circle {
  stroke: white;
  stroke-width: 1;
  fill: black;
  r: 4px;
}
.text {
  font-size: 16px;
  fill: white;
  text-anchor: middle;
}

#dayTime {
  top: 30%;
}

@media (max-width: 810px) {
  .graph {
    left: 0;
    width: 100%;
  }
}
