.eachDay {
  border-radius: 30px;
  padding: 10px 0px 0px;
  width: 120px;
  filter: opacity(0.75);
  text-align: center;
  transition: 0.3s;
}
.eachDay:hover {
  background-color: #474343;
}

.bigFont {
  padding: 0;
  font-size: 23px;
}
.smallFont {
  padding: 0;
  margin-top: 0;
  font-size: 17px;
}
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images {
  margin: 20px 0;
  width: 35px;
  height: 30px;
}

.graphSpace {
  margin: 70px 0;
  height: 30px;
}

@media (max-width: 769px) {
  .graphSpace {
    margin: 60px 0;
  }
  .eachDay {
    width: 70px;
    border-radius: 20px;
  }

  .bigFont {
    font-size: 17px;
  }
  .smallFont {
    font-size: 13px;
  }
}
